## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Zhangjiakou,CN,40.8100,114.8794,30.18,84,100,5.32,overcast clouds
1,1,Hermanus,ZA,-34.4187,19.2345,73.00,81,0,7.00,clear sky
2,2,Albany,US,42.6001,-73.9662,43.00,58,100,11.36,overcast clouds
3,3,Castro,BR,-24.7911,-50.0119,67.26,92,26,9.86,scattered clouds
4,4,Ushuaia,AR,-54.8000,-68.3000,50.00,57,40,23.02,scattered clouds

In [7]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Kapaa,US,22.0752,-159.3190,75.20,73,75,20.71,light rain
11,11,Souillac,MU,-20.5167,57.5167,78.80,83,40,3.44,scattered clouds
15,15,Bubaque,GW,11.2833,-15.8333,78.15,64,95,17.20,overcast clouds
17,17,Buta,CD,2.7858,24.7300,77.45,34,0,2.46,clear sky
19,19,Atuona,PF,-9.8000,-139.0333,80.13,79,17,16.44,few clouds
20,20,Saint-Philippe,RE,-21.3585,55.7679,77.00,69,20,8.05,few clouds
23,23,Bambous Virieux,MU,-20.3428,57.7575,79.00,83,40,3.44,light rain
24,24,Hithadhoo,MV,-0.6000,73.0833,82.63,62,89,7.34,overcast clouds
25,25,Cape Town,ZA,-33.9258,18.4232,75.20,64,0,8.05,clear sky
39,39,Marabba,SD,12.3500,32.1833,77.67,16,2,16.42,clear sky

In [10]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                1
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [11]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Kapaa,US,22.0752,-159.3190,75.20,73,75,20.71,light rain
11,11,Souillac,MU,-20.5167,57.5167,78.80,83,40,3.44,scattered clouds
15,15,Bubaque,GW,11.2833,-15.8333,78.15,64,95,17.20,overcast clouds
17,17,Buta,CD,2.7858,24.7300,77.45,34,0,2.46,clear sky
19,19,Atuona,PF,-9.8000,-139.0333,80.13,79,17,16.44,few clouds
...,...,...,...,...,...,...,...,...,...,...
617,617,Mattru,SL,7.6244,-11.8332,78.94,80,97,5.61,overcast clouds
620,620,Hualmay,PE,-11.0964,-77.6139,77.11,58,11,6.35,few clouds
636,636,Madison,US,34.7334,-86.5667,75.99,64,90,9.22,overcast clouds
641,641,Pointe-Noire,CG,-4.7761,11.8635,82.40,83,40,9.22,scattered clouds
642,642,Namatanai,PG,-3.6667,152.4333,79.56,78,100,2.24,overcast clouds

In [12]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Kapaa,US,75.20,light rain,22.0752,-159.3190,
11,Souillac,MU,78.80,scattered clouds,-20.5167,57.5167,
15,Bubaque,GW,78.15,overcast clouds,11.2833,-15.8333,
17,Buta,CD,77.45,clear sky,2.7858,24.7300,
19,Atuona,PF,80.13,few clouds,-9.8000,-139.0333,
20,Saint-Philippe,RE,77.00,few clouds,-21.3585,55.7679,
23,Bambous Virieux,MU,79.00,light rain,-20.3428,57.7575,
24,Hithadhoo,MV,82.63,overcast clouds,-0.6000,73.0833,
25,Cape Town,ZA,75.20,clear sky,-33.9258,18.4232,
39,Marabba,SD,77.67,clear sky,12.3500,32.1833,

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Kapaa,US,75.20,light rain,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
11,Souillac,MU,78.80,scattered clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
15,Bubaque,GW,78.15,overcast clouds,11.2833,-15.8333,"Casa Dora, Bubaque"
17,Buta,CD,77.45,clear sky,2.7858,24.7300,HOTEL BISO NA BISO
19,Atuona,PF,80.13,few clouds,-9.8000,-139.0333,Villa Enata
...,...,...,...,...,...,...,...
617,Mattru,SL,78.94,overcast clouds,7.6244,-11.8332,"Mondkor Town, Bagbo Chiefdom, Bo District"
620,Hualmay,PE,77.11,few clouds,-11.0964,-77.6139,Hotel Villa Kitzia Huacho
636,Madison,US,75.99,overcast clouds,34.7334,-86.5667,Embassy Suites by Hilton Huntsville Hotel & Spa
641,Pointe-Noire,CG,82.40,scattered clouds,-4.7761,11.8635,Kactus Lodge
642,Namatanai,PG,79.56,overcast clouds,-3.6667,152.4333,Namatanai Hotel

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csvclean_hotel_df.to_csv(output_data_file, index_label="City_ID")
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [20]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))